<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Storage Test</title>
<meta name="description" content="">
<meta name="author" content="project6">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- twitter bootstrap CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- my custom style CSS -->
</head>

<body>
<div class="container">
<header>
<h2>メニュー</h2>
</header>

<div class="jumbotron">
	<form id="frmUpload" enctype="multipart/form-data" method="POST" action="{{ upload_url }}">
		<input type="file" id="inputFilePath" />
		<button type="button" class="btn btn-primary" id="btnUpload">upload</button>
	</form>

	<!--
	<form id="frmUpload" enctype="multipart/form-data">
		<div class="form-group">
			<label for="inputFilePath">File：</label>
			<input type="file" class="form-control" id="inputFilePath" /></div>
			<p class="help-block">help message here...</p>
			<input id="uploadUrl" type="hidden" value="{{ upload_url }}" />
		<button type="button" class="btn btn-primary" id="btnUpload">upload</button>
	</form>
	-->
	<form action="" method="GET" enctype="multipart/form-data" id="frmDownload">
		<button type="button" class="btn btn-primary" id="btnDownload">download</button>
	</form>
</div><!-- div.jumbotron -->
<div class="row">
	<div class="col-sm-12">
	<div class="alert alert-danger" role="alert" id="divResult">結果</div>
	</div>
</div><!-- div.row -->
</div>

<!-- twitter bootstrap javascript -->
<script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
var gJqxHandler = null;	//ajax重複送信チェック用

/*
 * イベントハンドラ
 * uploadボタンクリック時
 * 
 */
$("#btnUpload").click(function() {
	var $form = $("#frmUpload");
	console.debug($form);

	alert("アップロードします");
	$("#frmUpload").submit();

/*
	var $form = $("#frmUpload");
	var $input = $("#inputFilePath");
	console.debug($form);
	//console.debug($input);
	var formData = new FormData($form[0]);
	console.debug(formData);

	// ajaxリクエスト送信
	gJqxHandler = $.ajax({
		type : "POST",
		url : $("#uploadUrl").val(),
		processData : false,
		contentType : false,
		data : formData	
	})
	.done(function(data) {
        // 通信が成功したときの処理
		$("#divResult").html(data);		
    })
    .fail(function(data) {
        // 通信が失敗したときの処理
		$("#divResult").html("<p>失敗</p><p>" + data + "</p>");
    })
    .always(function(data) {
        // 通信が完了したとき        
		console.log(data);
	    // 重複送信制御クリア
	    gJqxHandler = null;
    });   
*/
    
});

/*
 * イベントハンドラ
 * downloadボタンクリック時
 * 
 */
$("#btnDownload").click(function() {
	alert("ダウンロードします");
	$("#frmDownload").submit();
});
/*
$("#btnExec").click(function() {
	// 重複送信を防ぐ
	if (gJqxHandler != null) { console.debug("重複"); return; }

	// 入力チェック
	var isValid = inputCheck();
	if (isValid) {
		// ajaxリクエスト送信
		gJqxHandler = $.ajax({
			type: "POST",
			url: "/download",
			dataType: "json",
			cache: false,
		})
		.done(function(data) {
	        // 通信が成功したときの処理
			console.log(data);
			$("#divResult").html(data);		
	    })
	    .fail(function(data) {
	        // 通信が失敗したときの処理
			$("#divResult").html("<p>検索結果取得失敗</p><p>" + data + "</p>");
	    })
	    .always(function(data) {
	        // 通信が完了したとき        
		    // 重複送信制御クリア
		    gJqxHandler = null;
	    });   
	}
});	
*/
</script>
</body>
</html>
